<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.userName}">Username</span></td>
        <td><span th:text="${user.password}">Password</span></td>
        <td><span th:text="${user.firstName}">First Name</span></td>
        <td><span th:text="${user.lastName}">Last Name</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>